@charset "utf-8";
/* CSS Document */

#myCarousel img{
	width: 100%;
	height: 420px;
}

.headerBanner{
	border:#ccc 2px solid;
	border-radius: 20px;
	margin-left: -200px;
	margin-top: -200px;
	background:#fff url(../img/headerLabel.png) left center no-repeat;
	background-size: 100px 100px;
	width: 100%;
	height: 110px;	
	color: rgb(127,127,127);
	position: relative;
}
.headerBanner p {
	font-size: 20px;
	padding-right: 200px; 
	padding-top: 10px;
}
.headerBanner p:first-child { 
	padding-top: 10px;
}

.headerBanner .timer{
	position: absolute;
	top:20px;
	right: 10px;
	}

.phone{
	color: #fff;
	font-size: 2.7rem;
	margin-left: 100px;
}
.call{
	width: 220px;
	height: 68px;	
	background:#fff url(../img/call.png) center center no-repeat;
	background-size: 220px 68px;
	margin-right: -100px;
}

.aboutCompany, .aboutCompanyPart{
	display: block;
	margin:50px auto 25px; 
}

.whyUS{
	width: 110%;
	display: block;
	margin:25px 0; 
}


.form{background:#dbdbdb; width:980px; height:54px; margin-top:30px;}
.form .title{font-size:22px; color:#fff;  font-family: 'Conv_DINPro-Medium';  text-shadow:1px 1px #ccc; padding-top:30px; margin-left:105px; text-transform:uppercase;}
.form .inputbox{background:url(../img/form-input.jpg) no-repeat; background-size: 315px 45px; width:325px; height:45px; padding:10px 20px; border:none; color:#dadada; font-size:20px; letter-spacing:1px; font-family: 'Conv_DINPro-Regular'; margin-right:16px; display:block; float:left;}
.form .button{background: url(../img/form-button.png) no-repeat; background-size: 250px 43px; width:275px; height:49px; border:none; cursor:pointer; text-indent:-9999px; font-size:0; display:block; float:left; margin-top:1px; }
.form .button span{text-indent:-9999px;  font-size:0; }
.form .button:hover{opacity:0.8;}
.form .call-form{padding-top:5px; margin-left:20px;}

.twoChiks, .plusMinus{
	display: block;
	margin:50px auto 0;
	width: 880px; 
}

.brands{
	display: block;
	margin:25px auto 0;
	width: 680px; 
}

.plitiTitle{
	display: block;
	margin:50px auto 0;
	width: 880px; 
}

.pliti{
	display: block;
	margin:25px auto 0;
	width: 780px; 
}


#calc{
	display: block;
	margin:25px auto 0;
	width: 300px; 
	background:url(../img/calcBG.png) no-repeat; 
	background-size: 500px 486px; 
	width:500px;
	height:486px;
}
#visota, #sirina{
	margin-top: 120px;  	
  	height: 40px;
  	width: 168px;
  	background-color:transparent ; 
  	border-radius: none;
  	font-size: 25px;
}
#visota{
	margin-left: 64px;
}
#sirina{
	margin-left: 20px;
}
#option_1, #option_2, #option_3, #option_4{
	margin-left: 107px;
  	width: 42px;
  	height: 42px;
  	background-color:#fcd5b4; 
  	border-radius: none;
  	color:#fcd5b4;

}
#option_1{
	margin-top:13px; 
}

#megaCalc{
	margin-top: 12px;
  	margin-left: 107px;
  	width: 288px;
  	height: 31px;
  	background-color:transparent ; 
  	border-radius: none;
}
#rezult{
	margin-left: 144px;
  	margin-top: 13px;
  	width: 199px;
  	height: 39px;
  	font-size: 25px;
  	background-color:transparent ; 
  	border-radius: none;
}

.helpfulBlock{
	display: block;
	margin:60px auto 0;
	width: 880px; 
}
#klienti{
	width:893px;
}
.otziviBottom, .otziviTop{
	display: block;
	margin:0 auto 0;
	width: 880px; 
}
.otziviTop{
	margin-top: 70px;
}
.otziviBottom{
	margin-bottom: 60px;
}
#clientCarousel{
	margin: 0 auto;
	width: 817px;
    height: 347px;
}
.secondHelpfulBlock{
	display: block;
	margin:50px auto 0;
	width: 750px; 
}
.call2{
	width: 900px;
	height: 100px;	
	margin: 0 auto;
	background:#fff url(../img/call2.png) center center no-repeat;
}
.punktiVidachi{
	display: block;
	margin:50px auto 0;
	width: 980px;

}